container_commands:
  01_install_node:
    command: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash && source ~/.nvm/nvm.sh && nvm install node"
  02_install_dependencies:
    command: "npm install"

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 14

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source $EB_SUPPORT_FILES/env
      node -v
      npm -v
      sudo su -c "source $EB_SUPPORT_FILES/env && npm install"
